@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
  
body{
  /* 이게 핵심입니다: 텍스트를 드래그해서 선택하는 것을 방지합니다. */
  user-select: none;
  
  /* (구형 브라우저 호환용) */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}