# Git
.git
.gitignore
.gitattributes

# IDE
.idea
*.iml
.vscode

# Build artifacts
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~
